In [1]:
%defaultDatasource jdbc:h2:mem:db

In [5]:
CREATE TABLE athletes (
    ID VARCHAR(50),
    Name VARCHAR(70),
    Sex VARCHAR(50),
    Age VARCHAR(50),
    NOC VARCHAR(50),
    Year VARCHAR(50),
    Sport VARCHAR(50),
    Medal VARCHAR(50)
) AS SELECT
    ID,
    Name,
    Sex,
    Age,
    NOC,
    Year,
    Sport,
    Medal
FROM CSVREAD('./data/athletes_clean.csv');

In [7]:
SELECT * FROM athletes LIMIT 25

In [26]:
SELECT ID, NAME, SEX, MAX(AGE), NOC, MAX(YEAR), SPORT, COUNT(ID)
FROM athletes
GROUP BY ID, NAME, NOC, SPORT
ORDER BY NAME
LIMIT 100

Medalhas totais

CREATE VIEW athlete_group AS

SELECT ID, NAME, SEX, MAX(AGE) AS AGE, NOC, MAX(YEAR) AS YEAR, SPORT, COUNT(MEDAL) AS MEDALS
FROM athletes
WHERE Medal NOT LIKE 'No Medal'
GROUP BY ID, NAME, NOC, SPORT
ORDER BY NAME

In [49]:
select * from athlete_group

Relacionando com os pa√≠ses corretos

In [37]:
CREATE TABLE noc_regions (
    NOC VARCHAR(3),
    region VARCHAR(50),
    notes VARCHAR(50)
) AS SELECT
    NOC,
    region,
    notes
FROM CSVREAD('./data/noc_regions.csv');

In [54]:
CREATE TABLE athletes_group AS
SELECT ID, a.NAME, a.SEX, a.AGE, n.region AS COUNTRY, a.YEAR, a.SPORT, a.MEDALS
FROM athlete_group A, noc_regions N
WHERE A.NOC = N.NOC
ORDER BY A.NAME

In [55]:
CALL CSVWRITE('./data/medalists.csv', 'SELECT * FROM athletes_group');

28014